p i {
    color: red;
    font-size: 25px;
}

/*a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    font-size: 16px;
    text-decoration: underline;
}
a:visited{
    color: pink;
}*/

a:link {
    margin-top: 200px, 50px;
    background: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
a:hover{
    background-color: green;
    color: white;
}
a:active{
    background-color: red;
    color: white;
}
a:visited{
    margin-top: 20px, 10px;
    background-color: gray;
    color: pink;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.one{

    list-style-type: square;
}
#two{
list-style-type: upper-roman;

}

table{
    font-size: 25 px;
    /*border: 1px solid black;
    border-collapse: collapse;*/
    border: 10px solid blue;
    border-collapse: separate;
    width: 300px;
    /*caption-side: bottom;*/
    border-spacing: 10px;

}


tr,th,td{
    border-spacing: 10px;
    border: 1px solid red;
    padding: 10 px;
}
div{

    display: flex;
    justify-content: center;
    text-align: center;
}
tr:hover{
    background: grey;
    color: white;
}
tr:nth-child(even){
    background: lightcoral;
}

tr th{
    background: rgb(55, 163, 22);
    color: white;
}